.brands-swiper {
  min-width: 320px;
  font-size: 14px;
  font-family: 'TT Lakes', sans-serif;
  font-style: normal;
  margin: 0px;
  background: #f2f2f2;
  @media (min-width: 1440px) {
    margin-left: 306px;
  }
}

.brands-title {
  width: 100%;
  background-color: white;
  border-top: 1px solid #d9fff5;
}
.brands-title__name {
  padding: 16px;
  margin: 0;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
}
.swiper {
  display: flex;
  width: 320px;
  height: 160px;
  justify-content: space-between;
}
.swiper-wrapper {
  background-color: #f2f2f2;
  margin-left: 16px;
  margin-top: 16px;
}
.swiper-slide {
  width: 224px;
  height: 72px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-slide:last-of-type {
  padding-right: 0;
}

.swiper__brand-img {
  padding-left: 16px;
}
.brands__img {
  padding-left: 16px;
}
.swiper__icon--go {
  padding-right: 16px;
}
.brands__icon--go {
  padding-right: 16px;
}
.swiper-pagination {
  transform: translate(0px, -30px);
}
.swiper-pagination-bullet-active {
  background-color: gray;
}

.swiper-pagination-bullets {
  color: #b5b6bc;
}

.brands {
  display: none;
}

@media (min-width: 480px) {
  .brands-title__name {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .brands-title__name {
    text-align: left;
  }
  .brands-title {
    width: 100%;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
  .swiper {
    display: none;
  }
  .brands__item {
    height: 72px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    margin-right: 24px;
    margin-bottom: 16px;
  }

  .brands {
    display: inline;
  }
  .brands__list {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow: hidden;
    padding: 24px;
    padding-right: 0px;
  }

  .brands__list--height {
    height: auto;
    transition-duration: 10s;
  }
  .brands__footer {
    padding-left: 24px;
    padding-bottom: 10px;
  }

  .brands__btn {
    background: transparent;
    border: none !important;
    color: #1b1c21;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    line-height: 18px;
    color: #1b1c21;
    margin-top: 10px;
    padding-left: 16px;
    cursor: pointer;
  }
  .brands__arrow {
    margin: auto 0px auto 0px;
    width: 8px;
    height: 11px;
  }
}

@media (min-width: 1120px) {
  .brands__list {
    padding: 32px;
    padding-right: 0px;
  }
  .brands__item {
    width: 240px;
    margin-right: 32px;
    margin-bottom: 16px;
  }

  .brands__arrow {
    margin: auto 0px auto 0px;
  }
  .brands__footer {
    padding-left: 32px;
  }
  @media (min-width: 1390px) {
    .brands__item {
      margin-right: 32px;
      margin-bottom: 16px;
    }
  }
}
