$bgColor: #24292e;
$text: #fff;
$color_pink: rgba(255, 62, 121, 1);
$color_white: rgba(255, 255, 255, 1);
$color_black: rgba(27, 28, 33, 1);
$color_grey: rgba(126, 126, 130, 1);
$color_light-grey: #f8f8f8;
